@media screen {

.search-field {
width:325px;
}

.search-field  .field{
top: 26px;
position: relative;
}

h1 {
font-size: 38.5px;
}

h1, h2, h3, h4, h5, h6 {
margin: 10px 0;
font-family: inherit;
font-weight: bold;
line-height: 20px;
color: inherit;
text-rendering: optimizelegibility;
}
h1, h2, h3 {
line-height: 40px;
}
hr {
margin: 20px 0;
border: 0;
border-top: 1px solid #eee;
border-bottom: 1px solid #fff;
}

blockquote {
padding: 0 0 0 15px;
margin: 0 0 20px;
border-left: 5px solid #eee;
}

table {
border-collapse: collapse;/*bootstrap*/
border-spacing: 0;/*bootstrap*/
}

a:hover {
color: #005580;
text-decoration: underline;
}

a {
color: #08c;/*bootstrap*/
text-decoration: none;/*bootstrap*/
}

a:focus {
outline: thin dotted #333;
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px;
}

label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
cursor: pointer;/*bootstrap*/
}

.input-xxlarge {
width: 530px;
}

input, button, select, textarea {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
label, input, button, select, textarea {
font-size: 14px;
font-weight: normal;
line-height: 20px;
}
button, input {
line-height: normal;
}
button, input, select, textarea {
margin: 0;
font-size: 100%;
vertical-align: middle;
}

a:hover, a:active {
outline: 0;/*bootstrap*/
}
h1 {
font-size: 38.5px;
}

h2 {
font-size: 31.5px;
}

h3 {
font-size: 24.5px;
}

html {
font-size: 100%; /*bootstrap*/
}
.cv-form input, , .job-form input[type='button'] {margin-bottom:20px;}
.availability {margin-bottom:10px;}

body {	
color:#333;
margin: 0; /*from bootstrap*/
line-height: 20px; /*from bootstrap*/
font-size: 1.1em;
font-family: 'museo-sans-500';
background-image: url('./logo.svg');
background-size: 2000px auto, auto auto;
background-repeat: no-repeat, repeat;
background-position: 0 0;
background-attachment: fixed;
}

#btn-search {
position: absolute;
left: 280px;
}

p {	
	color: #333;
	cursor: default;
}

@font-face {
font-family: 'pictos';
src:local('?'),url('./pictos.woff') format('woff');
font-weight:normal;
font-style: normal;
}

@font-face {
font-family: 'museo-sans-900';
src:local('?'),url('./museo-sans-900.woff') format('woff');
font-weight:normal;
font-style: normal;
}

@font-face {
font-family: 'museo-sans-500';
src:local('?'),url('./museo-sans-500.woff') format('woff');
font-weight:normal;
font-style: normal;
}

@font-face {
font-family: 'socialico';
src:local('?'),url('./socialico.otf');
font-weight:normal;
font-style: normal;
}

.important-text {
    background-color: #CF1D00;
    padding: 6px !important;
    text-align: center;
    color: white;
    margin: 30px 25px 25px 25px;
    border-radius: 15px;
	border: 2px solid rgba(0,0,0,.5);
}

.message {
	padding: 30px 40px 0 40px;
}

.search-filters {
display:inline-block;
position:relative;
top:25px;
}

.hover {
box-shadow: 0 24px 44px rgba(0,0,0,0.5);
background-color: transparent;
border-radius: 5px;
margin: 10px;
width: 219px;
margin-left: auto;
margin-right: auto;
}

.favourites .hover{
width:108px;
height:65px;
display: inline-block;
}

.search-form {
padding:30px;
margin-bottom:20px;
margin-right:20px;
width:370px;
height:200px;
float:left;
display:block;
border-right: 2px solid silver;
border-radius: 0 0 455px 0;
}



.result {
width:219px;
height:128px;
border-radius: 5px;
background-size: cover;
background-repeat: no-repeat;
}

.favourites .result {
width:108px;
height:65px;
}

.dialog menu {
	display: inline-block;
	width: 100%;
	padding: 0;
	margin: 5px 0px 7px -4px;
}

.dialog-wrapper .spinner {
visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .5s linear 0s, visibility 0s linear .5s;
}

.dialog-wrapper[data-state="waiting"] .spinner {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity .5s linear 0s, visibility 0 linear 0;
}

.dialog-wrapper .waiting,
.dialog-wrapper .success,
.dialog-wrapper .error {
    display:none;
}

.dialog-wrapper[data-state="waiting"] .waiting,
.dialog-wrapper[data-state="success"] .success,
.dialog-wrapper[data-state="error"] .error {
    display:block;
}

.dialog-wrapper {	
	position: relative;
	z-index: 100;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity .05s linear 0s, visibility 0s linear .05s;
	-webkit-user-select: none;
}

.dialog-wrapper.active {	
	opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .05s linear 0s, visibility 0s linear 0s;
}

#gray-curtain {
    background-color: rgba(0,0,0,.4);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;    
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    display: block;
    -webkit-transition: opacity .05s linear 0s, visibility 0s linear .05s;	
}

#gray-curtain.active {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .05s linear 0s, visibility 0s linear 0s;
}

.dialog {
	position: relative;
	display: block;
	width: 500px;
	margin: auto;    
	margin-top: 15%;    
	z-index: 101;
	border-radius: 5px 55px 55px 55px;
	box-shadow: 0 0 0 3px rgba(10, 10, 30, 0.5), 5px 5px 4px 4px rgba(0,0,0,0.4);	
	border: 2px dotted rgba(0,0,0,.3);	
}

.dialog article {	
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,.9)),color-stop(100%,rgba(255,255,255,.7)));
	border-radius: 0 0 55px 55px;
	width: 100%;
	height: 100%;
}

.vertical-line {
	position: fixed;
	left: 50%;
	top:0;
	margin: auto;
	width: 1px;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	box-shadow: 0 0 0 4px rgba(0,0,0,0.4);
	border: none;
}

.circular-btn {
cursor: pointer;
-webkit-appearance: button;
border: 3px solid;
border-color: rgba(0,109,204,0.95) rgba(0,109,204,0.95) rgba(0,109,204,0.95) !important;
float: right;
margin-right: 10px;
min-width: 80px;
border-radius: 80px !important;
line-height: 70px !important; /*important for positioning on PC*/
height: 80px !important;
font-family: 'pictos';
font-size: 1.7em;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
background-color: transparent;
}

.back-to-top {
padding-bottom:10px;
}

.availability{
text-align:left;
}

.account-panel #p:checked ~ .profile-form,
.account-panel #c:checked ~ .cv-form ,
.account-panel #e:checked ~ .email-form,
.account-panel #j:checked ~ .jobs-form{
opacity:1;
visibility: visible;
-webkit-transition: opacity .25s linear 0s, visibility 0s linear 0s;
}

.profile-form, 
.cv-form, 
.email-form ,
.jobs-form {
opacity:0;
visibility:hidden;
position:absolute;
margin: 20px auto 20px auto;
width: 562px;
}

.app-wrapper {
height:100%;
position: absolute;
top:0;
bottom 0;
width: 100%;
overflow:hidden;
}

.back textarea, .back input[type="text"], .back input[type="password"], .back input[type="datetime"], .back input[type="datetime-local"], .back input[type="date"], .back input[type="month"], .back input[type="time"], .back input[type="week"], .back input[type="number"], .back input[type="email"], .back input[type="url"], .back input[type="search"], .back input[type="tel"], .back input[type="color"], .back .uneditable-input {
box-shadow: none;
border-radius:0;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
background-color: #fff;
border: 1px solid #ccc;
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
-webkit-transition: border linear .2s,box-shadow linear .2s;
-moz-transition: border linear .2s,box-shadow linear .2s;
-o-transition: border linear .2s,box-shadow linear .2s;
transition: border linear .2s,box-shadow linear .2s;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
display: inline-block;
height: 20px;
padding: 4px 6px;
margin-bottom: 10px;
font-size: 14px;
line-height: 20px;
color: #555;
vertical-align: middle;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.field  {
font-size:1.2em !important;
line-height: 31px !important;
height: 31px !important;
}

.my-favourites {
top:150px;
position:relative;
}

.navbar {
left: 30px;
bottom: 50px;
position:fixed;
z-index: 4;
}

.hovering-text {
background-color: rgba(255,255,255,.9);
box-shadow: 0 24px 69px rgba(0,0,0,0.5);
padding:3px;
border-radius: 5px;
}

.back .hovering-text {
background-color: transparent;
box-shadow: none;
padding:3px;
border-radius: 5px;
}

.back input[type="text"]:focus, .back  input[type="email"]:focus, .back  input[type="password"]:focus, .back  textarea:focus {
border-color: #00afed;
box-shadow: none;
border-radius:0;
}
.back .legal {
color:#b0aec8;
}

.legal {
left: 30px;
bottom:20px;
position:fixed;
font-size:.85em;
z-index: 4;
}

input[type='text'] {
font-family: 'museo-sans-500' !important;
}

.result:active {
box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05) !important;
-webkit-transition: box-shadow .1s linear;
}

.search-panel {
position: absolute;
top: 0;
left: 0;
bottom: 0;
overflow:visible;
width: 300px; /*iphone screen width == 320*/
z-index: 2;
-webkit-overflow-scrolling: touch;
}

label {display:block;}
.account-panel {
position: absolute;
overflow-y: scroll;
padding-top: 30px;
width: 100%;
top: 0;
bottom: 0;
}

textarea.field {
height:60px !important;
}

.back textarea.field {
height:100px !important;
}

.account-form-wrapper {
margin:auto;
position:relative;
width: 562px;
text-align:center;
}

.account-panel input[type="text"], input[type="email"], input[type="password"], textarea {
margin: 20px;
background: transparent;
border: none;
border-bottom: 1px dotted #5b5b78;
color: #FFF;
line-height: 19px;
font-family: inherit;
font-size: 14px;
outline: none;
padding: 0;
}

.account-panel h1 {
text-align:center;
margin-bottom: 20px;
color: #b0aec8;
}

.account-panel .menu{
margin:auto;
text-align:center;
}
.account-panel .menu label{
display: inline-block;
}

input[type="radio"]{
position:absolute;
visibility:hidden;
}

.summary, .skills, .tools {
position:relative;clear:both;
}

.back .meta-info {
visibility:hidden;
opacity:0;
position:absolute;
right: -180px;
top: 30px;
text-align:left;
width: 150px;
}

.back textarea:focus + .meta-info,.back input[type='text']:focus + .meta-info {
visibility:visible;
opacity:1;
-webkit-transition: opacity .25s linear 0s, visibility 0s linear 0s;
}

.back  ::-webkit-input-placeholder {
color:#7a7a8a;
}

.experience-item {clear:both;}
.one-pt-two {font-size: 1.2em !important;}

.account-panel input[type="radio"]:checked + label {
border: 2px solid #EEEEEE;

}

.back .heading {
position:relative;
left: -180px;
top: 64px;
text-align:right;
width: 150px;
}

.job-title {font-weight:bold;}

.linked-accounts {
list-style:none;
}

.linked-accounts  li div:nth-child(1) {
position:relative;
top: 30px;
}

.linked-accounts  li div:nth-child(2),.linked-accounts  li a:nth-child(2) {
position:relative;
top:55px;
}

.linked-accounts  li {
display:inline-block;
border-radius: 50px;
width: 219px;
height: 128px;
vertical-align:middle;
margin: 10px;
box-shadow: 0 0 9px 2px rgba(200, 200, 200, .2);
border: 3px solid;
border-color: #08c !important;
}

.availability {
padding:20px;
color:#7a7a8a;
}

input[type="radio"]:checked + label {
border: 2px solid black;
}
.divider {
background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #1b1b24), color-stop(10%, #2f2f3e), color-stop(90%, #2f2f3e), color-stop(100%, #1b1b24));
background-position: bottom center;
background-repeat: no-repeat;
background-size: 100% 1px;
}

input[type="radio"]:active + label {
box-shadow:inset 0 2px 4px rgba(0,0,0,0.15);
}

.back input[type="radio"]:active + label {
/*border: 2px solid #EEEEEE;*/
box-shadow:inset 0 2px 4px rgba(0,0,0,0.15);/*, 0 0 19px 12px rgba(200, 200, 200, .2);*/
}

.account-panel label:hover {
-webkit-transition: box-shadow .1s linear;
box-shadow: 0 0 9px 2px rgba(200, 200, 200, .3);
}

.account-panel label{
height: 100px;
width: 100px;
line-height:100px;
border-radius: 100px;
font-size:1.2em;
display:inline-block;
box-shadow: 0 0 9px 2px rgba(200, 200, 200, .2);
border: 2px solid black;
margin:10px;
color: #7a7a8a;
}

.cv-form, .job-form {text-align:left;}
.cv-form label, .job-form label{
height: 50px;
width: 50px;
line-height:50px;
border-radius: 50px;
font-size:1em;
display:inline-block;

}

label {
margin:0;
height: 40px;
width: 40px;
border-radius: 40px;
line-height:40px;
border: 2px solid #EEEEEE;
-webkit-user-select: none;
text-align:center;
}

.gray {
font-size:1.2em;
color: rgba(0,0,0,0.4);
}

.search-filters table {
width:100%;
text-align:center;
margin-top: 5px;
}

.search-filters table tr:nth-child(1) {
height:30px;
}

.results {
position: absolute;
top: 0;
left: 435px;
bottom: 0;
overflow-y: scroll;
width: 325px;
z-index: 2;
-webkit-overflow-scrolling: touch;
}

.result-details {
position: absolute;
left: 743px;
min-width: 378px;
top: 0;
bottom: 0;
padding:10px 40px 40px 40px;
overflow-y: scroll;
z-index: 1;
-webkit-overflow-scrolling: touch;
}

.result-details section {
clear:both;
position:relative;
top:20px;
}

.contact-methods {
list-style:none;
}

.result:focus {
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px;
box-shadow: 0 0 0 2px rgba(255, 255, 0, 0.8) inset !important;
}

.result:active {
-webkit-transition: box-shadow .1s linear;
box-shadow: 0 1px rgba(255,255,255,0.3) inset,0 10px 20px rgba(255,255,255,0.25) inset, 0 0 0 2px rgba(255, 255, 0, 0.8) inset !important;
}

.result:hover {
text-decoration: none;
box-shadow: 0 1px rgba(255,255,255,0.3) inset,0 10px 20px rgba(255,255,255,0.25) inset, 0 0 0 2px rgba(255, 255, 0, 0.3) inset;
}

.mac .circular-btn {
line-height: 76px !important; /*important for positioning on mac*/
}

.circular-btn:active {
box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05) !important;
-webkit-transition: box-shadow .1s linear;
}

.circular-btn:focus {
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px;
}

.circular-btn:hover {
text-decoration: none;
border-color: rgba(0,89,184,1) rgba(0,89,184,1) rgba(0,89,184,1) !important;
-webkit-transition: border-color .1s linear, box-shadow .1s linear;
box-shadow: 0 0 9px 2px rgba(200, 200, 200, .2);
}

.circular-btn[data-action='cancel'] {
border-color: rgba(0,0,0,0.45) rgba(0,0,0,0.45) rgba(0,0,0,0.45) !important;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

.circular-btn[data-action='success'] {
color:#00afed;
}

.circular-btn[data-action='success'] {
border-color: rgba(0,200,0,0.45) rgba(0,200,0,0.45) rgba(0,200,0,0.45) !important;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

.circular-btn[data-action='cancel']:hover {
text-decoration: none;
border-color: rgba(0,0,0,0.85) rgba(0,0,0,0.85) rgba(0,0,0,0.85) !important;
}

.circular-btn[data-action='success']:hover {
text-decoration: none;
border-color: rgba(0,200,0,0.85) rgba(0,200,0,0.85) rgba(0,200,0,0.85) !important;
}

.dialog header h3 {
	margin: 8px 0 0 15px;
	line-height:1;
	font-family: 'museo-sans-900';
}

.dialog header {	
	text-shadow: 0 -1px 1px rgba(255,255,255,0.2);
	color: black;
	background-color: rgba(195, 221, 246, .95);
	padding: 14px;
	border-radius: 5px 55px 0 0;
	margin-top: 0;
	outline: none;	
	border-bottom: 1px solid rgba(0,0,0,.1);
}

.sheen {
	box-shadow: 0 1px rgba(255,255,255,0.3) inset,0 10px 20px rgba(255,255,255,0.25) inset;
}

.small-shadow {
	box-shadow: 0 2px 2px rgba(0,0,0,0.5);
}



@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(1);
    }
    100% {
         -webkit-transform: rotate(360deg) scale(1);
    }
}

.three-d-context {	
	-webkit-perspective: 4000;
}

.front, .back {position: absolute; width: 100%; height:100%;}
.front {
z-index: 900;
-webkit-transition: opacity 0s linear 0s, z-index 0s linear 0s, -webkit-transform .35s ease-out;
-webkit-transform: rotateY(0deg);
opacity: 1;
-webkit-backface-visibility: hidden;
}

.back {
color: white;
background-color:#1B1B24;
z-index: 800;
-webkit-transition: z-index 0s linear .25s, -webkit-transform .35s ease-out;
-webkit-transform: rotateY(180deg);
-webkit-backface-visibility: hidden;
}

.three-d-context.flipped .front {
z-index: 800;
-webkit-transition: opacity .25s linear 0s, z-index 0s linear .25s, -webkit-transform .35s ease-out;
-webkit-transform: rotateY(-180deg);
opacity: 0;
-webkit-backface-visibility: hidden;
}

.three-d-context.flipped .back {
z-index: 900;
-webkit-transition: opacity .25s linear 0s, z-index 0s linear .25s, -webkit-transform .35s ease-out;
-webkit-transform: rotateY(0deg);	
-webkit-backface-visibility: hidden;
}

.grabbable {
	background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0.5, rgba(0,0,0,0.01)), color-stop(0.75, rgba(0,0,0,0.05)), color-stop(0.75, rgba(0,0,0,0.11)));
	background-size: 55px 2px;
}

.three-d-element {
-webkit-transition: -webkit-transform 1s;
-webkit-transform-style: preserve-3d;
}

.spinner {	
display:inline-block;
width: 40px;
height: 40px;
position:absolute;
right: 17px;
top: 12px;
border: 2px solid;
border-radius: 40px;
box-shadow: 0 0 9px 2px rgba(255, 255, 255, .2);
background: -webkit-linear-gradient(#F4F4F4,#ECECEC) repeat scroll 0 0 transparent;
-webkit-animation-name: rotateWobble1 !important;
-webkit-animation-duration: 10s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
-webkit-animation-direction: alternate;
}

.disc {
position: absolute;
top: 0;
left:0;
width: 40px;
height: 40px;
border-radius: 40px;
box-shadow: 0 0 9px 2px rgba(255, 255, 255, .2);
opacity: 1;
background: -webkit-linear-gradient(#F4F4F4,#ECECEC) repeat scroll 0 0 transparent;
-webkit-animation-duration: 10s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
-webkit-animation-direction: alternate;
}

@-webkit-keyframes 'rotateWobble1'
{       
	 0%{
        -webkit-transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
    }
    
    30% {
        -webkit-transform: rotateY(110deg) rotateX(35deg) rotateZ(175deg);
    }
    70% {
        -webkit-transform: rotateY(360deg) rotateX(0deg) rotateZ(360deg);
    }
	100% {
        -webkit-transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
    }
}

.jiggly {
    -webkit-animation: jiggle 0.2s infinite;
    -moz-animation-duration: 0.2s;
    -moz-animation-name: jiggle;
    -moz-animation-iteration-count: infinite;
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
}

@-moz-keyframes jiggle {
    0% {
        -moz-transform: rotate(-1deg);
}
50% {
    -moz-transform: rotate(1deg);
}
}

@-webkit-keyframes jiggle {
    0% {
        -webkit-transform: rotate(-1deg);
}
50% {
    -webkit-transform: rotate(1deg);
}
}

.my-favourites {
width:300px;
}

#btn-edit-favourites {
	position:absolute;
	top: 99px;
left: 250px;
}
}

@media only screen and (max-width: 480px) {
#btn-search {
left: 82px;
top: 194px;
} 
#btn-edit-favourites {
left: 82px;
top: 212px;
margin-bottom:10px;
}
.my-favourites {
width:240px;
top: 100px;
}
.results{
left:300px;
width:263px !important;
-webkit-overflow-scrolling: touch;
}
.navbar , .legal {
display:none;
}

.search-panel {
overflow-x: hidden;
overflow-y: scroll;
width:263px;
padding:10px;
}

.search-form {
width: 240px;
border:none;
margin-right:0;
}

.search-field{ width:240px; }

.result-details .circular-btn {
min-width: 60px;
border-radius: 60px !important;
line-height: 60px !important;
height: 60px !important;
width: 60px !important;
}

.result {
-webkit-transition: none;
box-shadow: none !important;
}

.result:active {
-webkit-transition: none;
box-shadow: none !important;
}


.result:hover{
-webkit-transition: none;
box-shadow: none !important;
}
input[type="radio"]:active + label {
box-shadow:none;
}
.app-wrapper {

overflow: visible;
}

.search-form {
padding: 0;
}
.search-field .field {
top: 0;
}
.search-filters {
top: 0;
}
.circular-btn {
font-size:1.5em;
}
.hover{
box-shadow:none;
border: 2px solid black;
margin: 2px !important;
}
.result-details{
left: 553px;
padding: 10px;
width:300px;
min-width: 300px;
}

.search-form input[type='text'] {width:215px;}
}